# NetBeans
/nbproject/private/
/build/
/dist/
/nbbuild/
/.DS_Store

# Compiled files & IDE
*.class
*.log
*.iml
/.idea/
/.vscode/


# local config (do NOT commit real credentials)
config.properties
config.properties.local
